

WAZUH_INDEXER_USER=testa
WAZUH_INDEXER_PASSWORD=testa

WAZUH_API_USER=testa
WAZUH_API_PASSWORD=testa

GRAFANA_ADMIN_USER=testa
GRAFANA_ADMIN_PASSWORD=testa

THEHIVE_SECRET=a3f8c2d1e9b74056f2a1c3d5e7b90421f8e3d2c1b0a94756f3e2d1c0b9a87654

THEHIVE_ADMIN_LOGIN=testa
THEHIVE_ADMIN_PASSWORD=testa

SURICATA_INTERFACE=eth0
